#cust-footer{
    margin-bottom: 0em;
}

/* #header-container{
    margin-top: 20rem;
} */

.about-scroll{
    height: 110px;
}

.skill-img{
    width: 130px;
    height: 120px;
    padding: 20px;
}

#perl{
    width: 300px;
    height: 120px;
}

.img-div{
    text-align: center;
    justify-content: space-evenly;
}

.img-raised {
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.cc-profile-image a {
    position: relative;
}

.cc-profile-image a:before {
    content: "";
    border: 15px solid rgba(55, 140, 63, 0.6);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99;
}

.cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
    -webkit-animation: none;
    animation: none;
}

.nav-item{
    text-align: center;
    color: black;
    width: -webkit-fill-available;
}

#category{
    color: black;
}

h4,.h4{
    margin: 0 auto;
}

.header-tab{
    background-color: navajowhite;
}

.eduImg{
    width: 80%;
    height: 80%;
}

.card-header{
    background-color: whitesmoke !important;
}

@media screen and (max-width: 992px) {
    .container-fluid{
        width: 1040px;
    }
}

