cust-footer{
    margin-bottom: 0em;
}

.about-scroll{
    height: 110px;
}

.skill-img{
    width: 130px;
    height: 120px;
    padding: 20px;
}

#perl{
    width: 190px;
    height: 190px;
}
#sequ{
    width: 190px;
    height: 190px;
}
.img-div{
    text-align: center;
    justify-content: space-evenly;
}

.img-raised {
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(26, 38, 184, 0.25);
}

.cc-profile-image a {
    position: relative;
}

.cc-profile-image a:before {
    content: "";
    border: 15px solid rgba(55, 140, 63, 0.6);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99;
}

.cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
    -webkit-animation: none;
    animation: none;
}

.nav-item{
    text-align: center;
    color: black;
    width: -webkit-fill-available;
    display: contents;
}

#category{
    color: black;
}

h4,.h4{
    margin: 0 auto;
}

.header-tab{
    background-color: #0677a1;
}

.eduImg{
    width: 80%;
    height: 80%;
}

.card-header{
    background-color: whitesmoke !important;
}
.fa-arrow-circle-left:before {
    content: "\f0a8";
  }
  .fa-5x {
    font-size: 5em !important;
  }
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa-3x {
    font-size: 3em;
  }
  .fa-globe:before {
    content: "\f0ac";
  }
/* Images Gallery Style*/

.gallery .cc-porfolio-image figure {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.gallery .cc-porfolio-image figure img {
    position: relative;
    display: block;
    max-width: 92%;
    opacity: 1;
}

.gallery .cc-porfolio-image figure figcaption {
    position: absolute;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery .cc-porfolio-image figure figcaption,
.gallery .cc-porfolio-image figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery .cc-porfolio-image figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.gallery .cc-porfolio-image figure .h4,
.gallery .cc-porfolio-image figure p {
    margin: 0;
}
#wonderktich-P{
    z-index: 9;
}
.RecentProject {
    text-align-last: center;
    width: 95%;
    height: 98%;
    color: rgb(220, 219, 233);
    margin: 2rem;
}
.RecentProjectM {
    text-align-last: center;
    width: fit-content !important;
    height: min-content !important;
    color: rgb(26, 24, 46);
    cursor: pointer;
}
.RecentProjectB {
    background-color: #444c86;
}
.RecentProjectF{
    background-color: #535a88;
}
.proImg{
    width: max-content !important;
    height: 250px !important;
}
.RecentPr{
    margin-bottom: 2rem;
}
.projectDisc{
    float: right;
    margin-top: 1rem;
}

.backBtn{
    float: left;
    margin-left: 1rem;
}

.projectImgDisc{
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: left;
    text-align: -webkit-center;
}
.projectDisc2{
    float: left;
    margin-top: 1rem;
}

.projectImgDisc2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: right;
    text-align: -webkit-center;
}
.projectImg{
    height: 300px;
} 
.blockquote1{
    border: 1px solid #888888;
    padding: 1px;
    display: inline-table;
}
.blockquote1:hover {
    text-shadow: 1px 1px 2px black, 0 0 70px rgb(100, 211, 226), 0 0 25px rgb(0, 100, 139);
}
figure{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.PIMG{
    height: 500px;
}
.header-tab{
    margin: 0.5rem;
    border-top-right-radius: 11.1875rem;
    border-top-left-radius: 0.1875rem;
}
.d-block{
    width: 750px;
    height: 500px;
}

.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

@media screen and (min-width: 1029px) {
    #containerfluid2{
        width: 1000px !important;
        margin: auto;
    }
    #containerfluid{
        width: 1200px !important;
        margin: auto;
    }
    .eduCol{
        margin-right: -25%;
        margin-left: -25%;
    }
}

@media screen and (max-width: 1028px) {
    #containerfluid{
        width: 100% !important;
    }
    #containerfluid2{
        width: 100% !important;
    }

    .rightcol{
        padding-left: 0rem;
        width: 96% !important;
    }
    
    .leftcol{
        padding-right: 0rem;
        width: 96% !important;
    }
    .h4,.h5 {
        font-size: 1.2em;
    }
    .backBtn{
        float: none;
        margin-left: 0rem;
    }
    .edu-row{
        margin-right: -25%;
        margin-left: -25%;
        justify-content: space-between;
    }
    .container-fluid {
        width: 100%;
    }   
    .PIMG{
        height: 270px;
    }
    .container-fluid {
        width: 100%;
    }
    .techAndTools{
        float: none !important;
    }
    .image-container.image-left {
        margin-bottom: 220px;
    }
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
    .nav-tabs {
        display: grid;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }
    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
    .landing-page .section-story-overview .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .h4,.h5 {
        font-size: 1.2em;
    }
    .techAndTools{
        float: none !important;
    }
    .navbar[class*='navbar-expand-'] .container {
        margin-left: 0;
        margin-right: 0;
    }
    .footer .copyright {
        text-align: center;
    }
    .section-nucleo-icons .icons-container i {
        font-size: 30px;
    }
    .section-nucleo-icons .icons-container i:nth-child(6) {
        font-size: 48px;
    }
    .page-header .container h6.category-absolute {
        width: 90%;
    }
}


.rightcol{
    padding-left: 2rem;
}

.leftcol{
    padding-right: 2rem;
}
/* 
.btn,
.navbar .navbar-nav>a.btn{
    background-color: palevioletred !important;
} */

.githubBtn{
    color: #661234 !important;
    clear: both !important;
}

.githubBtn:hover {
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}
@media screen and (max-width: 576px) {
    #containerfluid{
        width: 100% !important;
    }
    #containerfluid2{
        width: 100% !important;
    }

    .rightcol{
        padding-left: 0rem;
        width: 96% !important;
    }
    
    .leftcol{
        padding-right: 0rem;
        width: 96% !important;
    }
    .h4,.h5 {
        font-size: 1.2em;
    }
    .backBtn{
        float: none;
        margin-left: 0rem;
    }
    .edu-row{
        margin-right: -25%;
        margin-left: -25%;
        justify-content: space-between;
    }
    .container-fluid {
        width: 100%;
    }   
    .PIMG{
        height: 270px;
    }
    body{
        background-color: #aaabb8;
    }
    .card {
        background-color: #444c86;
    }
    .RecentProject {
        background-color: #444c86;
        margin: 0.5rem;
    }
    .RecentProjectM {
        background-color: #444c86;
    }
    .RecentProjectB {
        background-color: #444c86;
    }
    #header-container{
        margin-top: 11rem;
    }
    #col6-head{
        margin-top: 13rem;
    }    
    .card-body {
        background-color: #868e9600;
    }
    .section {
        background: #aaabb8;
    }
    .input-group-addon {
        background-color: #444c86;
    }
    .category {
        color: #575050;
    }
    .bg-primary {
        background-color: #242582 !important;
    }
    .techAndTools{
        float: none !important;
    }
    .navbar[class*='navbar-expand-'] .container {
        margin-left: 0;
        margin-right: 0;
    }
    .footer .copyright {
        text-align: center;
    }
    .section-nucleo-icons .icons-container i {
        font-size: 30px;
    }
    .section-nucleo-icons .icons-container i:nth-child(6) {
        font-size: 48px;
    }
    .page-header .container h6.category-absolute {
        width: 90%;
    }
}

/* Images Gallery Style*/

.gallery .cc-porfolio-image figure {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.gallery .cc-porfolio-image figure img {
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1;
}

.gallery .cc-porfolio-image figure figcaption {
    position: absolute;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery .cc-porfolio-image figure figcaption,
.gallery .cc-porfolio-image figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery .cc-porfolio-image figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.gallery .cc-porfolio-image figure .h4,
.gallery .cc-porfolio-image figure p {
    margin: 0;
}

.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

.gallery figure.cc-effect figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.gallery figure.cc-effect figcaption::after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.gallery figure.cc-effect .h4 {
    margin-top: 5%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    opacity: 0;
}

@media (max-width: 480px) {
    .gallery figure.cc-effect .h4 {
        font-size: 14px;
    }
}

.gallery figcaption .container {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.gallery figure.cc-effect p,
.gallery figure.cc-effect button {
    padding: 0.5em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    opacity: 0;
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect .h4 {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after,
.gallery figure.cc-effect p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.gallery figure.cc-effect:hover img {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.gallery figure.cc-effect:hover figcaption::before,
.gallery figure.cc-effect:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gallery figure.cc-effect:hover figcaption:before {
    background: rgba(20, 20, 43, 0.856);
}

.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fff;
}

.gallery figure.cc-effect:hover figcaption::after,
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.eduCol{
    max-width: 190px !important;
    margin-bottom: 1rem;
}

.edu-row{
    margin-right: -25%;
    margin-left: -25%;
    justify-content: space-between;
}


