#cust-footer{
    margin-bottom: 0em;
}

.about-scroll{
    height: 110px;
}

.skill-img{
    width: 130px;
    height: 120px;
    padding: 20px;
}

#perl{
    width: 300px;
    height: 120px;
}

.img-div{
    text-align: center;
    justify-content: space-evenly;
}

.img-raised {
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.cc-profile-image a {
    position: relative;
}

.cc-profile-image a:before {
    content: "";
    border: 15px solid rgba(55, 140, 63, 0.6);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99;
}

.cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
    -webkit-animation: none;
    animation: none;
}

.nav-item{
    text-align: center;
    color: black;
    width: -webkit-fill-available;
    display: contents;
}

#category{
    color: black;
}

h4,.h4{
    margin: 0 auto;
}

.header-tab{
    background-color: navajowhite;
}

.eduImg{
    width: 80%;
    height: 80%;
}

.card-header{
    background-color: whitesmoke !important;
}


/* Images Gallery Style*/

.gallery .cc-porfolio-image figure {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.gallery .cc-porfolio-image figure img {
    position: relative;
    display: block;
    max-width: 92%;
    opacity: 1;
}

.gallery .cc-porfolio-image figure figcaption {
    position: absolute;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery .cc-porfolio-image figure figcaption,
.gallery .cc-porfolio-image figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery .cc-porfolio-image figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.gallery .cc-porfolio-image figure .h4,
.gallery .cc-porfolio-image figure p {
    margin: 0;
}

.RecentProject {
    text-align-last: center;
    min-height: 300px;
    color: rgb(26, 24, 46);
}
.RecentPr{
    margin-bottom: 3rem;
}
.projectDisc{
    float: right;
    margin-top: 1rem;
}

.projectImgDisc{
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: left;
    text-align: -webkit-center;
}
.projectDisc2{
    float: left;
    margin-top: 1rem;
}

.headd{
    /* background-color: rgba(34, 30, 30, 0.192); */
}

.projectImgDisc2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: right;
}
.projectImg{
    height: 295px;
} 

figure{
    padding-top: 3rem !important;
    padding-bottom: 2rem !important;
}

.d-block{
    width: 750px;
    height: 500px;
}

.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

@media screen and (min-width: 992px) {
    /* .container-fluid{
        width: 1040px;
    } */
    .rotateimg1{
        -ms-transform: skewY(-7deg);
        transform: skewY(-7deg);
    }
    .rotateimg2{
        -ms-transform: skewY(7deg);
        transform: skewY(7deg);
    }
    
}

@media screen and (max-width: 992px) {
    .container-fluid{
        width: 1040px;
    }
}


@media screen and (max-width: 800px) {
    .container-fluid {
        width: 100%;
    }
    /* body{
        background-color: #315253;
    }
    .card {
        background-color: #868e96;
    }
    .RecentProject {
        background-color: #868e96;
    }
    .card-body {
        background-color: #868e9600;
    }
    .section {
        background: #315253;
    }
    .input-group-addon {
        background-color: #868e96;
    }
    .category {
        color: #575050;
    }
    a {
        color: #205125;
    } */
    /* .githubBtn{
        clear: both;
    } */
    .techAndTools{
        float: none !important;
    }
    /* .bg-primary {
        background-color: #1f5a5b !important;
    }
    .cc-education-header{
        background-color: #1f5a5b !important;
    } */
    .image-container.image-left {
        margin-bottom: 220px;
    }
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
    .nav-tabs {
        display: grid;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }
    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
    .landing-page .section-story-overview .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }
    /* #header-container{
        margin-top: 11rem;
    }
    #col6-head{
        margin-top: 10rem;
    } */
    .edu-row{
        margin-right: -25%;
        margin-left: -25%;
    }
    .h4,.h5 {
        font-size: 1.2em;
    }
}



#containerfluid{
    width: 1200px !important;
    margin: auto;
}

.rightcol{
    padding-left: 2rem;
}

.leftcol{
    padding-right: 2rem;
}

@media screen and (max-width: 576px) {
    #containerfluid{
        width: 100% !important;
    }

    .rightcol{
        padding-left: 0rem;
        width: 96% !important;
    }
    
    .leftcol{
        padding-right: 0rem;
        width: 96% !important;
    }
    .h4,.h5 {
        font-size: 1.2em;
    }
    .edu-row{
        margin-right: -25%;
        margin-left: -25%;
    }
    .container-fluid {
        width: 100%;
    }
    body{
        background-color: #70523d;
    }
    .card {
        background-color: #d3bb77;
    }
    .RecentProject {
        background-color: #d3bb77;
    }
    #header-container{
        margin-top: 11rem;
    }
    #col6-head{
        margin-top: 10rem;
    }    
    .card-body {
        background-color: #868e9600;
    }
    .section {
        background: #70523d;
    }
    .input-group-addon {
        background-color: #d3bb77;
    }
    .category {
        color: #575050;
    }
    a {
        color: #205125;
    }
    .bg-primary {
        background-color: #f96332 !important;
    }
    .cc-education-header{
        background-color: #f96332 !important;
    }
    .techAndTools{
        float: none !important;
    }
    /* .githubBtn{
        clear: both;
    } */
    .navbar[class*='navbar-expand-'] .container {
        margin-left: 0;
        margin-right: 0;
    }
    .footer .copyright {
        text-align: center;
    }
    .section-nucleo-icons .icons-container i {
        font-size: 30px;
    }
    .section-nucleo-icons .icons-container i:nth-child(6) {
        font-size: 48px;
    }
    .page-header .container h6.category-absolute {
        width: 90%;
    }
}

